@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.theFooter {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: rgb(18, 17, 17, 1);
}

.toCentralizeFooter2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-family: 'Overpass Mono', cursive;
  background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 9px;
}

.eODiaDeCaimFooter {
  display: none;
}

.instaIcon {
  display: flex;
  margin-top: 4px;
  margin-bottom: -5px;
  margin-left: 9.5px;
}

.iconSize {
  height: 30px;
  width: 30px;
}

/* para telas maiores */
@media screen and (min-width: 1050px) {
  html {
    height: 100%;
    min-height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .theFooter {
    margin-top: auto;
    background-color: rgb(18, 17, 17, 1);
  }
  
  .toCentralizeFooter2 {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
  
  .copyright {
    font-family: 'Overpass Mono', cursive;
    background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
    padding-left: 0em;
    padding-top: 1em;
    align-self:center;
    margin-right: -30%;
  }

  .eODiaDeCaimFooter {
    display: flex;
    font-family: 'Overpass Mono', cursive;
    background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
    padding-top: 1em;
    padding-right: 0em;
    margin-left: -25.5%;
  }
  
  .instaIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .iconSize {
    height: 35px;
    width: 35px;
  }
}