@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

header {
  background-color: rgba(18, 17, 17, 1);
  color: whitesmoke;
}

.toCentralizeTitleInHeader {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.desesperançaHeader {
  font-family: 'Overpass Mono', cursive;
  font-size: 20px;
  background: -webkit-linear-gradient(rgba(102, 40, 40, 1), rgba(102, 40, 40, 1), rgba(27, 26, 26, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0em;
  margin-bottom: -0.5em;
}

.asCronicasDaHeader {
  background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 11em;
  margin-bottom: 0em;
  font-size: 8px;
  padding-top: 5px;
}

nav {
  display: flex;
  flex-flow: row, wrap;
  justify-content: center;
  ;
}

.divNav {
  padding-right: 6%;
  padding-left: 6%;
}

.navLinks {
  color: rgba(203, 192, 194, 1);
  display: flex;
  flex-flow: column, wrap;
  font-family: 'Overpass Mono', cursive;
  font-size: 10px;
  padding-top: 7px;
}

.icon {
  display: none;
}

/* para telas grandes */
@media screen and (min-width: 1050px) {
  header {
    background-color: rgba(18, 17, 17, 1);
    color: whitesmoke;
    height: 7em;
  }
  
  .toCentralizeTitleInHeader {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 2em;
    padding-top: 1em;
  }
  
  .desesperançaHeader {
    font-family: 'Overpass Mono', cursive;
    font-size: 40px;
    background: -webkit-linear-gradient(rgba(102, 40, 40, 1), rgba(102, 40, 40, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0em;
    margin-bottom: -0.5em;
    padding-bottom: 5px;
  }
  
  .asCronicasDaHeader {
    background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 0.35em;
    margin-bottom: -0.5em;
    font-size: 9px;
    padding-top: 1em;
  }
  
  nav {
    display: flex;
    flex-flow: row, wrap;
    justify-content: flex-end;
  }

  .divNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-right: 6%;
    padding-left: 6%;
  }
  
  .navLinks {
    background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-flow: column, wrap;
    font-family: 'Overpass Mono', cursive;
    font-size: 16px;
  }

  .navLinks:hover {
    background: -webkit-linear-gradient(rgba(102, 40, 40, 1), rgba(102, 40, 40, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

  .icon{
    display: flex;
    margin-top: -2.9em;
    margin-bottom: -1.2em;
    color:rgba(203, 192, 194, 1)
  }
}