@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Overpass+Mono:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.allChaptersBackground{
  background-image: url('../../images/wallpaper1.png');
  background-attachment: fixed;
}

.toCentralizeReadingAllChaptersBox {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 1.5em;
}

.readingAllChaptersBox {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  color: rgb(199, 190, 190);
  height: 100%;
  width: 80%;
  background-color: rgba(23, 22, 22, 1);
  border: 1px black solid;
}

.titleAllChaptersBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5.6em;
  background-color: rgba(18, 17, 17, 1);
}

.allChaptersNumber {
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: rgb(94, 30, 30);
  width: 250px;
  margin-bottom: -6px;
}

.allChaptersTitle {
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
  font-size: 13px;
  background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 250px;
}

.divisorImgTop {
  margin-top: -2em;
  margin-bottom: -3em;
  width: 90%;
  align-self: center;
}

.textAllChaptersBox {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: justify;
  width: 80%;
  font-size: 14px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  hyphens: auto;
  line-height: 1.4em;
  padding-top: 1em;
}

.divisorImgBot {
  margin-top: -3.6em;
  margin-bottom: -2em;
}

.theEnd {
  align-self: center;
  background: -webkit-linear-gradient(rgba(102, 40, 40, 1), rgba(102, 40, 40, 1), rgba(27, 26, 26, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.endButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.designEndButtons {
  display: flex;
  justify-content: center;
  color: rgba(102, 40, 40, 1);
  background-color: rgba(18, 17, 17, 1);
  border: 1px solid rgba(102, 40, 40, 1);
  padding: 10px 27px;
  font-size: 16px;
  border-radius: 50px;
  margin-bottom: 1em;
  height: 45px;
  width: 204px;
  font-family: 'Manuale', Arial, Helvetica, sans-serif;
}

.designEndButtonsDisabled {
  display: flex;
  justify-content: center;
  color: rgba(18, 17, 17, 1);
  background-color: rgb(77, 71, 71);
  border: none;
  padding: 10px 27px;
  font-size: 16px;
  border-radius: 50px;
  margin-bottom: 1em;
  height: 45px;
  width: 204px;
  font-family: 'Manuale', Arial, Helvetica, sans-serif;
}

.designEndButtonsDisabled:hover {
  color: rgba(18, 17, 17, 1);
  background-color: rgb(77, 71, 71);
  cursor: initial;
}

.coverImg {
  align-self: center;
  width: 80%;
}

.ilustratorCredits {
  font-size: 12px;
  text-align: center;
}

/* para telas maiores */
@media screen and (min-width: 1050px) {
  .titleAllChaptersBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 7.6em;
    background-color: rgba(18, 17, 17, 1);
  }

  .allChaptersNumber {
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: rgb(94, 30, 30);
    width: 250px;
    margin-bottom: -6px;
  }

  .allChaptersTitle {
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
    font-size: 21.6px;
    background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: 400px;
  }

  .readingAllChaptersBox {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    color: rgb(199, 190, 190);
    height: 100%;
    width: 60%;
    background-color: rgba(23, 22, 22, 1);
    border: 1px black solid;
  }

  .divisorImgTop {
    margin-top: -6em;
    margin-bottom: -6.6em;
    width: 36em;
    align-self: center;
  }

  .textAllChaptersBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: justify;
    width: 80%;
    font-size: 15px;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    hyphens: auto;
    line-height: 1.4em;
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .divisorImgBot {
    margin-top: -6em;
    margin-bottom: -6.6em;
    width: 36em;
    align-self: center;
  }
  
  .theEnd {
    align-self: center;
    background: -webkit-linear-gradient(rgba(102, 40, 40, 1), rgba(102, 40, 40, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    padding-top: 0.5em;
  }

  .endButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .designEndButtons {
    display: flex;
    justify-content: center;
    color: rgba(102, 40, 40, 1);
    background-color: rgba(18, 17, 17, 1);
    border: 1px solid rgba(102, 40, 40, 1);
    padding: 10px 27px;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-right: 1em;
    height: 45px;
    width: 204px;
    font-family: 'Manuale', Arial, Helvetica, sans-serif;
  }

  .designEndButtonsDisabled {
    display: flex;
    justify-content: center;
    color: rgba(18, 17, 17, 1);
    background-color: rgb(77, 71, 71);
    border: none;
    padding: 10px 27px;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 1em;
    margin-bottom: 2em;
    height: 45px;
    width: 204px;
    font-family: 'Manuale', Arial, Helvetica, sans-serif;
  }

  .coverImg {
    align-self: center;
    width: 500px;
  }
  
  .ilustratorCredits {
    font-size: 12px;
    text-align: center;
  }
}