@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Overpass+Mono:wght@300;400;500;600;700&display=swap');

.readingAuthorBox {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  color: rgb(199, 190, 190);
  height: 100%;
  width: 80%;
  background-color: rgba(23, 22, 22, 1);
  border: 1px black solid;
  }
  
.titleAuthorBox {
  display: flex;
  justify-content: center;
  height: 4em;
  background-color: rgba(18, 17, 17, 1);
}
  
.textAuthorBox {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: justify;
  width: 80%;
  font-size: 14px;
}
  
.toCentralizeReadingAuthorBox {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 1.5em;
}

.authorBackground {
  background-image: url('../images/wallpaper1.png');
}

.authorTitle {
  display: flex;
  font-family: 'Overpass Mono', cursive;
  font-size: 20px;
  color: rgb(94, 30, 30);
  text-align: center;
  width: 161px;
}

.authorPhoto{
  height: 160px;
  padding-top: 2em;
  padding-bottom: 1em;
}

.authorBoxDescription {
  display: flex;
  flex-direction: row;
}

.textDescription {
  padding-top: 3em;
  padding-left: 1em;
  font-size: 9px;
  letter-spacing: 0px;
  margin-bottom: -18px;
}