@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Overpass+Mono:wght@300;400;500;600;700&display=swap');

.readingAuthorBox {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  color: rgb(199, 190, 190);
  height: 100%;
  width: 80%;
  background-color: rgba(23, 22, 22, 1);
  border: 1px black solid;
  }
  
.titleAuthorBox {
  display: flex;
  justify-content: center;
  height: 4em;
  background-color: rgba(18, 17, 17, 1);
}
  
.textAuthorBox {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: justify;
  width: 80%;
  font-size: 14px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  hyphens: auto;
  line-height: 1.4em;
  padding-top: 1em;
}
  
.toCentralizeReadingAuthorBox {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 1.5em;
}

.authorBackground {
  background-image: url('../images/wallpaper1.png');
  background-attachment: fixed;
}

.authorTitle {
  display: flex;
  font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(94, 30, 30);
  text-align: center;
  width: 161px;
}

.authorPhoto{
  height: 160px;
  padding-top: 2em;
  padding-bottom: 1em;
}

.authorBoxDescription {
  display: flex;
  flex-direction: row;
}

.textDescription {
  padding-top: 2em;
  padding-left: 1em;
  font-size: 9px;
  letter-spacing: 0px;
  margin-bottom: -18px;
}

.divisorImgTopAuthorsPage {
  margin-top: -2em;
  margin-bottom: -3.6em;
}

.divisorImgBotAuthorsPage {
  margin-top: -3.6em;
  margin-bottom: -2em;
}

@media screen and (min-width: 500px) {
  .divisorImgTopAuthorsPage {
    margin-top: -4em;
    margin-bottom: -5.6em;
  }
}

@media screen and (min-width: 720px) {
  .authorTitle {
    display: flex;
    font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(94, 30, 30);
    text-align: center;
    width: 201px;
  }

  .divisorImgTopAuthorsPage {
    margin-top: -5em;
    margin-bottom: -6.6em;
  }

  .textAuthorBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: justify;
    width: 80%;
    font-size: 16px;
  }

  .authorPhoto{
    height: 185px;
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .textDescription {
    padding-top: 3em;
    margin-left: -1em;
    font-size: 11px;
    letter-spacing: 0px;
    margin-bottom: -18px;
  }
}

@media screen and (min-width: 1050px) {
  .readingAuthorBox {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    color: rgb(199, 190, 190);
    height: 100%;
    width: 60%;
    background-color: rgba(23, 22, 22, 1);
    border: 1px black solid;
    }

  .authorTitle {
    display: flex;
    font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
    font-size: 33px;
    color: rgb(94, 30, 30);
    text-align: center;
    width: 321px;
    margin-top: 26px;
  }

  .titleAuthorBox {
    display: flex;
    justify-content: center;
    height: 5.5em;
    background-color: rgba(18, 17, 17, 1);
  }

  .textAuthorBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: justify;
    width: 80%;
    font-size: 16px;
  }

  .authorPhoto{
    height: 350px;
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .textDescription {
    padding-top: 3em;
    padding-left: 3em;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 16px;
    margin-top: -0px;
  }

  .divisorImgBotAuthorsPage {
    margin-top: -6em;
    margin-bottom: -4em;
    width: 36em;
    align-self: center;
  }
}

@media screen and (min-width: 1350px) {
  .readingAuthorBox {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    color: rgb(199, 190, 190);
    height: 100%;
    width: 60%;
    background-color: rgba(23, 22, 22, 1);
    border: 1px black solid;
    }

  .authorTitle {
    display: flex;
    justify-content: center;
    font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
    font-size: 33px;
    color: rgb(94, 30, 30);
    text-align: center;
    width: 321px;
    margin-top: 26px;
  }

  .divisorImgTopAuthorsPage {
    margin-top: -6em;
    width: 33em;
    margin-bottom: -6.6em;
    align-self: center;
  }

  .titleAuthorBox {
    display: flex;
    justify-content: center;
    height: 5.5em;
    background-color: rgba(18, 17, 17, 1);
  }

  .textAuthorBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: justify;
    width: 80%;
    font-size: 16px;
  }

  .authorPhoto{
    height: 350px;
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .textDescription {
    padding-top: 3.5em;
    padding-left: 3em;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 16px;
    margin-top: -0px;
  }

  .toFinalSpace {
    padding-bottom: 1.5em;
  }
}