@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Overpass+Mono:wght@300;400;500;600;700&display=swap');

.chapterBackground {
  background-image: url('../images/wallpaper1.png');
  background-attachment: fixed;
}

.toCentralizeChapterBox {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.chapterNumber {
  font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  align-self: center;
  color: rgba(102, 40, 40, 1);
  background-color: rgba(23, 22, 22, 1);
  width: 16em;
  margin-bottom: 0;
  margin-top: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chapterTitle {
  font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
  font-size: 12.9px;
  text-align: center;
  align-self: center;
  color: rgba(203, 192, 194, 1);
  background-color: rgba(23, 22, 22, 1);
  width: 19.8em;
  margin-bottom: 0;
  margin-top: 0;
}

.chapterBox {
  display: flex;
  align-self: center;
  width: 16em;
  height: 20em;
  margin-bottom: 2em;
  overflow: hidden;
}

.coverImage {
  width: 100%;
  height: 100%;
  transition: transform .6s ease;
}

.coverComingSoonImage {
  width: 100%;
  height: 100%;
}

.coverImage:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1050px) {
  .chapterBackground {
    background-image: url('../images/wallpaper1.png');
    background-attachment: fixed;
  }

  .toCentralizeChapterBox{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-right: 3em;
    padding-left: 3em;
  }

  .mainBox {
    display: flex;
    flex-flow: column;
  }

  .forThreeBoxes {
    display: flex;
    flex-flow: row;
    align-self: center;
  }

  .chapterNumber {
    font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    align-self: center;
    color: rgba(102, 40, 40, 1);
    background-color: rgba(23, 22, 22, 1);
    width: 11.08em;
    margin-top: 2em;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .chapterTitle {
    font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    align-self: center;
    color: rgba(203, 192, 194, 1);
    background-color: rgba(23, 22, 22, 1);
    width: 19.15em;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .chapterBox {
    display: flex;
    align-self: center;
    width: 18em;
    margin-bottom: 2em;
  }
  
  .coverImage {
    width: 18em;
    height: 20em;
  }
}

@media screen and (min-width: 1400px) {
  .chapterBackground {
    background-image: url('../images/wallpaper1.png');
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100%;
  }

  .toCentralizeChapterBox{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-right: 3em;
    padding-left: 3em;
  }

  .mainBox {
    display: flex;
    flex-flow: column;
  }

  .forThreeBoxes {
    display: flex;
    flex-flow: row;
    align-self: center;
  }

  .chapterNumber {
    font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
    align-self: center;
    color: rgba(102, 40, 40, 1);
    background-color: rgba(23, 22, 22, 1);
    width: 14.85em;
    margin-top: 2em;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .chapterTitle {
    font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    align-self: center;
    color: rgba(203, 192, 194, 1);
    background-color: rgba(23, 22, 22, 1);
    width: 26em;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .chapterBox {
    display: flex;
    align-self: center;
    width: 26em;
    height: 28em;
    margin-bottom: 2em;
  }
  
  .coverImage {
    width: 26em;
    height: 28em;
  }
}