@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Overpass+Mono:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Manuale', Arial, Helvetica, sans-serif;
  background-color: rgba(23, 22, 22, 1);
}

.toCentralizeTitle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50%;
}

.desesperança {
  font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
  font-size: 40px;
  background: -webkit-linear-gradient(rgba(102, 40, 40, 1), rgba(102, 40, 40, 1), rgba(27, 26, 26, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0em;
  margin-bottom: 0em;
}

.asCronicasDa {
  background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 11em;
  margin-bottom: 0em;
}

.eODiaDeCaim {
  background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 11.27em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.livroI {
  background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 21.15em;
  margin-top: 0em;
  font-size: 12px;
  padding-bottom: 40%;
}

.toCentralizeFooter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.toCentralizeButtonPrincipal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.toCentralizeOthersButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.startFooter {
  margin-top: 1rem;
  background-color: rgba(23, 22, 22, 1);
  bottom: 3em;
  left: 0;
  width: 100%;
}

/* referência de footer: https://www.codegrepper.com/code-examples/javascript/react+footer+responsive. */

.designButtonPrincipal {
  display: flex;
  justify-content: center;
  color: rgba(102, 40, 40, 1);
  background-color: rgba(18, 17, 17, 1);
  border: 1px solid rgba(102, 40, 40, 1);
  padding: 10px 27px;
  font-size: 16px;
  border-radius: 50px;
  margin: 2px;
  height: 45px;
  width: 204px;
  font-family: 'Manuale', Arial, Helvetica, sans-serif;
}

.designOthersButtons {
  display: flex;
  justify-content: center;
  background-color: rgba(18, 17, 17, 1);
  color: rgba(102, 40, 40, 1);
  border: 1px solid rgba(102, 40, 40, 1);
  padding: 10px 10px;
  font-size: 11px;
  border-radius: 50px;
  margin: 2px;
  height: 35px;
  width: 150px;
  font-family: 'Manuale', Arial, Helvetica, sans-serif;
}

.designButtonPrincipal:hover {
  background-color: rgba(102, 40, 40, 1);
  color: rgba(18, 17, 17, 1);
  cursor: pointer;
}

.designOthersButtons:hover {
  background-color: rgba(102, 40, 40, 1);
  color: rgba(18, 17, 17, 1);
  cursor: pointer;
}

/* para telas de celulares bastante estreitas */
@media screen and (max-width: 334px)  {
  .desesperança {
    font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
    font-size: 33px;
    background: -webkit-linear-gradient(rgba(102, 40, 40, 1), rgba(102, 40, 40, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -6px;
    margin-bottom: -6px;
  }
  
  .asCronicasDa {
    background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 11.2em;
    margin-bottom: 0em;
    font-size: 13px;
  }
  
  .eODiaDeCaim {
    background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 11.36em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 13px;
  }

  .livroI {
    background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20.8em;
    margin-top: 0em;
    font-size: 10px;
    padding-bottom: 40%;
  }

  .designButtonPrincipal {
    display: flex;
    justify-content: center;
    color: rgba(102, 40, 40, 1);
    background-color: rgba(18, 17, 17, 1);
    border: 1px solid rgba(102, 40, 40, 1);
    padding: 10px 27px;
    font-size: 13px;
    border-radius: 50px;
    margin: 2px;
    height: 35px;
    width: 154px;
    font-family: 'Manuale', Arial, Helvetica, sans-serif;
  }
  
  .designOthersButtons {
    display: flex;
    justify-content: center;
    background-color: rgba(18, 17, 17, 1);
    color: rgba(102, 40, 40, 1);
    border: 1px solid rgba(102, 40, 40, 1);
    padding: 10px 10px;
    font-size: 11px;
    border-radius: 50px;
    margin: 2px;
    height: 35px;
    width: 125px;
    font-family: 'Manuale', Arial, Helvetica, sans-serif;
  }
}

/* Para telas maiores */
@media screen and (min-width: 768px) {
  body {
    font-family: 'Manuale', Arial, Helvetica, sans-serif;
    background-color: rgba(23, 22, 22, 1);
  }
  
  .toCentralizeTitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 12%;
  }
  
  .desesperança {
    font-family: 'Overpass Mono', Arial, Helvetica, sans-serif;
    font-size: 90px;
    background: -webkit-linear-gradient(rgba(102, 40, 40, 1), rgba(102, 40, 40, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  
  .asCronicasDa {
    background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 25.3em;
    margin-bottom: 0em;
    font-size: 20px;
  }
  
  .eODiaDeCaim {
    background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 19.2em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 25px;
  }
  
  .livroI {
    background: -webkit-linear-gradient(rgba(203, 192, 194, 1), rgba(203, 192, 194, 1), rgba(27, 26, 26, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 40.5em;
    margin-top: 0em;
    font-size: 15px;
    padding-bottom: 6%;
  }
  
  .toCentralizeFooter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  
  .toCentralizeButtonPrincipal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    margin-right: 4%;
  }
  
  .toCentralizeOthersButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 4%;
  }
  
  .footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(23, 22, 22, 1);
    position: fixed;
    bottom: 1.5em;
    left: 0;
    width: 100%;
  }
  
  /* referência de footer: https://www.codegrepper.com/code-examples/javascript/react+footer+responsive. */
  
  .designButtonPrincipal {
    display: flex;
    justify-content: center;
    color: rgba(102, 40, 40, 1);
    background-color: rgba(18, 17, 17, 1);
    border: 1px solid rgba(102, 40, 40, 1);
    padding: 11px 27px;
    font-size: 21px;
    border-radius: 50px;
    margin: 2px;
    height: 52px;
    width: 251px;
    font-family: 'Manuale', Arial, Helvetica, sans-serif;
  }
  
  .designOthersButtons {
    display: flex;
    justify-content: center;
    background-color: rgba(18, 17, 17, 1);
    color: rgba(102, 40, 40, 1);
    border: 1px solid rgba(102, 40, 40, 1);
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 50px;
    margin: 2px;
    height: 49px;
    width: 202px;
    font-family: 'Manuale', Arial, Helvetica, sans-serif;
  }
  
  button:hover {
    background-color: rgba(102, 40, 40, 1);
    color: rgba(18, 17, 17, 1);
    cursor: pointer;
  }
}